@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  overflow: hidden;
}

/* Force xterm.js internal elements to fill the container properly */
.xterm {
  height: 100%;
}

.xterm-viewport {
  overflow-y: hidden !important;
}
